@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #001705;
    color: aliceblue;
    text-align: center;
}

.App {
    width: 75%;
    margin: auto;
}

.form {
    margin: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.input, .button, .clear {
    margin: 4px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.button, .clear {
    cursor: pointer;
    background-color: #009b22;
    padding: 10px 0;
}

.clear {
    background-color: red;
    color: aliceblue;
    width: 100%;
}

.clear-data {
    margin: auto;
    width: 320px;
}

.chart {
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .form, .chart {
        width: 90%;
    }
}